body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,label,form,fieldset,input,textarea,select,p,blockquote,th,td{
	margin:0;
	padding:0
	}

ul li {
	list-style:none;
}
b {
	opacity:0.6;
	font-weight:normal;
}
@font-face {
	font-family:Yellowtail;
	src:url(../fonts/yellowtail/Yellowtail-Regular.otf);
}
html {
	height:100%;
}
body {
	height:100%;
}
.body {
	height:110%;
}
/*aside*/
.aside {
	background: url(../img/background2.png);
	background-size: cover;
	float:left;
	width:240px;
	height:100%;
}
/*logo*/
.logo {
	padding-top:15px;
	padding-left:20px;
}
.logo h1 {
	font-size:2rem;
	color:#f39c12;
	font-family:Yellowtail;
}
.logo p{
	color:#ffffff;
}
/*menu*/
.menu {
	padding-top:30px;
	padding-left:20px;
	color:#ffffff;
}
.menu-wrap li {
	padding-top:10px;
}
/*contact*/
.contact {
	padding-top:30px;
	padding-left:20px;
	color:#ffffff;
}
.contact-about{
	color:#f39c12;
}
.contact-wrap li {
	padding-top:10px;
}
.contact + p {
	padding-top:30px;
	padding-left:20px;
	color:#ffffff;
}
/*tweet*/
.tweet {
	padding-top:30px;
	padding-left:10px;
	color:#ffffff;
	width:230px;
}
.icon a:link  {
	display:block;
	background:url(../img/tweet.png)  no-repeat;
	float:left;
	width:30px;
	height:30px;
}

.tweet-one{
	display:block;
	padding-top:5px;
	padding-left:5px;
}
.tweet-two {
	clear:left;
	padding-top:5px;
	padding-left:10px;
}
/*social*/
.social {
	padding-top:30px;
	padding-left:10px;
	color:#ffffff;
}
.social p {
	margin-left:10px;
}
.button a:link  {
	display:block;
	background:url(../img/social.png)  no-repeat;
	width:200px;
	height:30px;
}
/*copyright*/
.copyright {
	width:220px;
	padding-top:30px;
	padding-left:20px;
	color:#ffffff;
}
/*content*/
.content {
	background: url(../img/background1.png);
	background-size: cover;
	margin-left:240px;
	height:100%;
}
/*header*/
.header{
	width:700px;
	padding-top:15px;
	padding-left:20px;
}
.header  h1 {
	color:#f39c12;
	font-size:2.6rem;
}
.header p{
	color:#ffffff;
	font-size:2rem;
}
/*img*/
.img {
	padding-top:30px;
	padding-left:20px;
    float: left; 
}
/*article*/
.article {
	padding-top:30px;
	padding-left:250px;
	width:400px;
}
.article-one{
	color:#ffffff;
	font-size:1rem;
	width:350px;
}
.article-two {
	padding-top:10px;
	color:#f39c12;
	font-size:0.8rem;
	width:380px;
}
.article-three {
	padding-top:10px;
	color:#ffffff;
}
/*progress*/
.progress {
	padding-top:120px;
	padding-left:20px;
}

.progress > p {
	font-size:1.3rem;
	color:#ffffff;
}
/*container*/
.container {
	padding-top:10px;
	padding-bottom:5px;
	width:570px;
}
.bar {
	background-color:#202020;
	width:100%;
	border-radius:5px;
}

.bar-fill {
	background-color:#f39c12;
	height:45px;
	width:89%;
	display:block;
	border-radius:5px;
}
.bar-fill.two {
	width:95%;
}
.bar-fill.three{
	width:65%;
}
.bar-fill > p{
	width:140%;
	padding-top:13px;
	padding-left:10px;
	color:#2a2a2a;
}
p > span {
	padding-left:460px;
	color:#ffffff;
}

