body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,label,form,fieldset,input,textarea,select,p,blockquote,th,td{
	margin:0;
	padding:0
	}

ul li {
	list-style:none;
}
b {
	opacity:0.6;
	font-weight:normal;
}
@font-face {
	font-family:Yellowtail;
	src:url(../fonts/yellowtail/Yellowtail-Regular.otf);
}
html {
	height:100%;
}
body {
	height:100%;
	background-image:url(../img/background.png);
}
.body {
	height:110%;
}
/*aside*/
.aside {
	background: url(../img/background1.png);
	background-size: cover;
	float:left;
	width:240px;
	height:100%;
}
/*logo*/
.logo {
	padding-top:15px;
	padding-left:20px;
}
.logo h1 {
	font-size:2rem;
	color:#f39c12;
	font-family:Yellowtail;
}
.logo p{
	color:#ffffff;
}
/*menu*/
.menu {
	padding-top:30px;
	padding-left:20px;
	color:#ffffff;
}
.menu-wrap li {
	padding-top:10px;
}
/*contact*/
.contact {
	padding-top:30px;
	padding-left:20px;
	color:#ffffff;
}
.contact-about{
	color:#f39c12;
}
.contact-wrap li {
	padding-top:10px;
}
.contact + p {
	padding-top:30px;
	padding-left:20px;
	color:#ffffff;
}
/*tweet*/
.tweet {
	padding-top:30px;
	padding-left:10px;
	color:#ffffff;
	width:230px;
}
.icon a:link  {
	display:block;
	background:url(../img/tweet.png)  no-repeat;
	float:left;
	width:30px;
	height:30px;
}

.tweet-one{
	display:block;
	padding-top:5px;
	padding-left:5px;
}
.tweet-two {
	clear:left;
	padding-top:5px;
	padding-left:10px;
}
/*social*/
.social {
	padding-top:30px;
	padding-left:10px;
	color:#ffffff;
}
.social p {
	margin-left:10px;
}
.button a:link  {
	display:block;
	background:url(../img/social.png)  no-repeat;
	width:200px;
	height:30px;
}
/*copyright*/
.copyright {
	width:220px;
	padding-top:30px;
	padding-left:20px;
	color:#ffffff;
}
/*content*/
.content {
	background: url(../img/background2.png);
	background-size: cover;
	padding-left:240px;
	height:100%;
}
.header{
	width:700px;
	padding-top:15px;
	padding-left:20px;
}
.header p {
	color:#f39c12;
	font-size:2.6rem;
}
.header p + p {
	color:#ffffff;
	font-size:2rem;
}
.article {
	color:#fff;
	padding-left:20px;
	padding-top:20px;
	width:600px;
}
.contact1 {
	padding-top:20px;
	padding-left:20px;
}
.form {
	margin-top:10px;
	height:30px;
	width:400px;
	background:#202020;
}
.form img {
	float:left;
	padding-top:5px;
}

input {
	height:20px;
	width:300px;
	background:#202020;
	padding-top:4px;
	border:0;
}


textarea {
	margin-top:10px;
	
}
::-webkit-input-placeholder {
	color:#fff;
}
::-moz-placeholder {
	color:#fff;
}
:-moz-placeholder {
	color:#fff;
}
:-ms-input-placeholder {
	color:#fff;
}
textarea{
	background-color:#202020;
	width:400px;
	height:120px;
	border:0;
}
button {
	background-color:#f39c12;
	border:0;
	width:130px;
	height:30px;
	text-align:center;
}
.button {
	padding-top:10px;
}
